body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main-container {
  height: 100vh;
  width: auto;
  overflow: auto;
  background-image: linear-gradient(-45deg, rgb(19, 19, 39), #000000 100%);
  background-blend-mode: darken;
}

/* #forms.card {
  display: block;
  border-radius: 25px;
  color: #000000;
  margin: 0 auto;
  align-items: center;
  width: 50%;
} */


/* .form-control {
  width: auto;
  margin: 10px;
} */
/*
.submit-btn {
  margin: 10px;
}
*/ 

.brand-container {
  min-height: 50vh;
}


.brand-text {
  justify-content: center;
}

.signup-btn {
  border-radius: 20px;
}

.login-btn {
  border-radius: 20px;
}

.container {
  max-width: 50%;
  
}

.containerWidth {
  align-content: center;
  
}

.postForm {
  grid-column-start: 3;
  grid-row-start: 1;
}

.postsContainer {
  padding-bottom: 30px;
}

.cards {
  color: black;
}

.submitButton {
  padding-top: 10px;
}

.logoutButton {
  justify-self: right;
}